<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button style="background: #008080; padding: 40px;border: none; color: aqua">登錄</button>
    <button style="background: #00B9B9; padding: 40px;border: none; color: aqua">登錄</button>
    <script>
        let str = '验证码是: 9098';

        console.log(str.slice(6, str.length));
    </script>
</body>

</html>